
<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">

<body>
  <div>
<h3>GAME OVER!</h3>
<p>
  It looks like you ran out of time and Carmen got away Agent {{userName}}, better brush up on your skills so that you
  can capture her next
  time! </p>
</div>
<div>
<p class="gif">
    <img src="https://media2.giphy.com/media/lkpT33i3KSjN6/giphy.gif?cid=790b76115d0d225872543549731cd040&rid=giphy.gif"
      alt="">
      <button type="button" class="beginNewCase" routerLink="/landing-page" routerLinkActive="active">Return to
        Office</button>
</p>
</div>



</body>