body {
  background: url(https://i2.wp.com/www.kalusalonandspa.com/wp-content/uploads/2017/01/black-brick-background-kalu-salon-black-friday-sales-web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.captured {
  font-size: 30px;
  font-family: "Bangers", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.images {
  margin-bottom: 50px;
}

p {
  margin: 5px;
  color: white;
}

img {
  display: flex;
  align-items: center;
}

#under {
  position: absolute;
}

#top {
  width: 450px;
}

button {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  height: 15%;
  width: 50%;
  border-radius: 5px;
  margin-top: 2%;
  opacity: 0.7;
  background-color: white;
}

@media only screen and (min-width: 1024px) { 

  .captured {
    font-size: 40px;
    margin-left: 80%;
    margin-top: 0px;
  }

  #under {
    left: 15%;
    top: 28%
  }

  #top {
    left: 15%;
    top: 28%;
    position: absolute;
  }
}