
p {
    display: flex;
    font-size: 300px;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
    margin-top: 0px;
    position: absolute;
    margin-top: 250px;
    margin-right:100px;

}