<body>
  <div class="page">
    <div class="captured">
      <p>Congratulations Agent {{userName}}</p>
      <p>You have captured Carmen Sandiego!</p>
      <p>You have been promoted to Sleuth</p>
      <button type="button" class="beginNewCase" routerLink="/landing-page" routerLinkActive="active">Return To Office</button>
    </div>
    <div class="images">
      <img id="under" src="https://vignette.wikia.nocookie.net/qubo-channel/images/e/ed/Carmen_Sandiego.png/revision/latest?cb=20170716201725"> 
      <img id="top" class="animated bounceInDown" src="https://ecowall.com.ua/files/images/fabric/6/4.png">   
    </div>

  </div>
</body>


