<!--The content below is only a placeholder and can be replaced.-->
<main>
  <h1>
    Welcome to ACME Detective Agency!
  </h1>


<button>Start</button>
<form action="" >

<p>Pop up text when form loads.</p>
<h3>ACME</h3>
<p>Welcome to the ACME Detective Agency! Our main goal here at ACME is to caputre the elusive Carmen Sandiego! If you feel p to  the task of catching this internatioan criminal, then please...</p>
Agent Please Choose a Name:<input type="text">
<button>Begin Case!</button>
</form>
<h6>Where in the World is Carmen Sandiego!</h6>
</main>