<!-- the ngStyle here is used to apply the random background image to the location -->
<!-- the ngIf clueNumber starts at -1 since the ngFor below brings in array of clues and the index there starts at 0 -->
<div class="locationLanding" [ngStyle]="{'background-image': 'url('+ photoURL+')'}">
    <div *ngIf="clueNumber === -1" class="cluePopUp" >
       <p class="clueTop"><span><i class="material-icons messageIcon">
          textsms
          </i> MESSAGES   </span> <span>now</span></p> 
    <p>You have {{time}} hours left to capture Carmen Agent!</p>
      <p >
      Hi i am a Clue<button (click)="showClue()">Let's Party!</button>
      </p>
      
</div>
<!-- ngFor to display all our beautiful clues with ngIf to only show 1 at a time -->
  <div  *ngFor="let clue of localClues; index as i" >
    <div *ngIf="i === this.clueNumber" class="clue"> 
      <!-- this ngIf is if the clue is not a photo show the text clue -->
    <p *ngIf="clue.clues != undefined; else photo" > {{clue.clues}} </p>
    <!-- this ng-template loads the photo if the clue is a photo -->
    <ng-template #photo> She dropped this photo: <img src="{{clue.photo}}"  alt="">  </ng-template>
    <button *ngIf="this.clueNumber<2" (click)="nextClue()"(click)="onClue()">Search For More Clues <i class="material-icons">
        fingerprint
        </i></button> <button (click)="flyOut()" (click)="onFlight()">Fly Out<i class="material-icons">
            airplanemode_active
            </i> </button>
            <p>You now have {{time}} hours left to capture Carmen Agent!</p>
          </div>
  </div>

  <div *ngIf="flight" class="flyOut">  
      <form action="">Fly Out
      <input type="radio"> City 1
      <input type="radio"> City 2
      <input type="radio"> City 3
      <button>Fly Out!</button>
      </form>
      <button (click)="goBack()">Go Back</button>
    </div>
  </div>