.locationLanding {
  /* background-image: url(../../assets/dubai.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.cluePopUp {
  border-radius: 10px;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5;
    -moz-animation-duration:0.5;
    animation-duration:0.5;
    animation-delay: 2s;
    background-color: rgba(247, 241, 233, 0.801);
    width: 80vw;
    height: 25vh;
}
.clock {
  position: relative;
  top: -50%;
  left: 50%;
  transform: translateX(-20%);
  font-size: 30px;
  font-weight: 500;
  width: auto;
  color: white;
  margin-bottom: 0;
  line-height: 0;
}
.flyOutClock {
  position: fixed;
  top: 5%;
  font-size: 30px;
  font-weight: 500;
  width: auto;
  color: white;
  margin-bottom: 0;
  line-height: 0;
}
.date {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.messageIcon {
  color: green;
}
.clueTop {
  display: flex;
  justify-content: space-between;
}
.clue {
  border-radius: 10px;
  background-color: rgba(247, 241, 233, 0.801);
  width: 80vw;
  height: 35vh;
}
.flyOut {
  border-radius: 10px;
  background-color: rgba(247, 241, 233, 0.801);
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrong {
  background-image: url(https://media.giphy.com/media/Wq9RLX06zRg4UM42Qf/giphy.gif);
  background-size: cover;
  height: 80vh;
  width: 95vw;
}
