<main>
  <h1>
    Welcome to ACME Detective Agency!
  </h1>

<img src="../../assets/carmen-sandiego-1.png" alt="">
  <button>Start</button>
  <form action="" #loadForm="ngForm" >

    <p>Pop up text when form loads.</p>
    <h3>ACME</h3>
    <p>Welcome to the ACME Detective Agency! Our main goal here at ACME is to caputre the elusive Carmen Sandiego! If
      you feel up to the task of catching this international criminal, then please...</p>
    Enter Name:<input type="text">
    <button>Begin Case!</button>
  </form>


  <h6>Where in the World is Carmen Sandiego!</h6>
</main>