
<p>
  location1 works!
</p>

<!--  /*Include Clock*/ -->
<div class="locationLanding">
    <div class="cluePopUp">
       <p class="clueTop"><span><i class="material-icons messageIcon">
          textsms
          </i> MESSAGES   </span> <span>now</span></p> 
      <p>
        Hi, I'm a clue! <button>Let's Party!</button>
      </p>
      
    </div>
  </div>
  <form action="">Fly Out
  <input type="radio"> City 1
  <input type="radio"> City 2
  <input type="radio"> City 3
  <button>Fly Out!</button>
  </form>
  </div> -->

 <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet"> <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<section class="clueOneScreen">
    <p class="time">12:01</p>
    <p class="date">Friday, June 28</p>
  <div class="clueDiv">
    <p class="clueText">This is the capital of Russia</p>
  </div>
  <div class="icons">
    <i class="material-icons">message</i>
    <i class="material-icons">airplanemode_active</i>
    <!-- <button class="clueIcon"></button>
    <button class="planeIcon"></button> -->
  </div>
</section>
