  .device,
  .device::before,
  .device::after,
  .device *,
  .device *::before,
  .device *::after {
   box-sizing: border-box;
   display: block;
  }
  ​
  .device {
   position: relative;
   transform: scale(1);
   z-index: 1;
  }
  ​
  .device .device-frame {
   z-index: 1;
  }
  ​
  .device .device-content {
   background-color: #fff;
   background-position: center center;
   background-size: cover;
   object-fit: cover;
   position: relative;
  }
  ​
  
    .device-macbook-pro {
    height: 444px;
    width: 740px;
    }
   
   .device-macbook-pro .device-frame {
    background: #0d0d0d;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #c8cacb;
    height: 650px;
    margin: 0 auto;
    padding: 29px 19px 39px 19px;
    position: relative;
    width: 1000px;
   }
   
   .device-macbook-pro .device-frame::after {
    background: #272626;
    border-radius: 0 0 20px 20px;
    bottom: 2px;
    content: "";
    height: 26px;
    left: 2px;
    position: absolute;
    width: 996px;
   }
   
   .device-macbook-pro .device-frame::before {
    bottom: 10px;
    color: #c8cacb;
    content: "MacBook Pro";
    font-size: 12px;
    height: 16px;
    left: 50%;
    line-height: 16px;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    width: 200px;
    z-index: 1;
   }
   
   .device-macbook-pro .device-content {
    border: 2px solid #121212;
    border-radius: 2px;
    height: 360px;
    width: 576px;
   }
   
   .device-macbook-pro .device-power {
    background: #e2e3e4;
    border: solid #d5d6d8;
    border-radius: 2px 2px 0 0;
    border-width: 2px 4px 0 4px;
    height: 20px;
    margin-top: -10px;
    position: relative;
    width: 1050px;
    z-index: 9;
   }
   
   .device-macbook-pro .device-power::after,
   .device-macbook-pro .device-power::before {
    content: "";
    position: absolute;
   }
   
   .device-macbook-pro .device-power::after {
    background: #d5d6d8;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0 0 4px 2px #babdbf;
    height: 10px;
    left: 50%;
    margin-left: -60px;
    top: -2px;
    width: 120px;
   }
   
   .device-macbook-pro .device-power::before {
    background: #a0a3a7;
    border-radius: 0 0 180px 180px/ 0 0 12px 12px;
    box-shadow: inset 0 -2px 6px 0 #474a4d;
    height: 18px;
    left: -4px;
    margin: 0 auto;
    top: 15px;
    width: 1050px;;
   }
   
   .device-macbook-pro.device-spacegray .device-frame {
    box-shadow: inset 0 0 0 2px #767a7d;
   }
   
   .device-macbook-pro.device-spacegray .device-power {
    background: #909496;
    border-color: #767a7d;
   }
   
   .device-macbook-pro.device-spacegray .device-power::after {
    background: #83878a;
    box-shadow: inset 0 0 4px 2px #6a6d70;
   }
   
   .device-macbook-pro.device-spacegray .device-power::before {
    background: #515456;
    box-shadow: inset 0 -2px 6px 0 black;
   }
  
  body {
    margin:0;
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/269063/pexels-photo-269063.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
/* Below delays the clue pop-up for 2seconds  */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.cluePopUp {
  border-radius: 10px;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5;
    -moz-animation-duration:0.5;
    animation-duration:0.5;
    animation-delay: 2s;
    background-color: rgba(247, 241, 233, 0.801);
    width: 300px;
    height: 100px;
    
}
.messageIcon {
  color: green;
}
.clueTop {
  display: flex;
  justify-content: space-between;

}

form{
  background-color: rgba(247, 241, 233, 0.719);
}

.clueOneScreen {
  background-image: url(https://www.iclarified.com/images/news/60886/292380/292380-1280.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  border-radius: 20px;
  width: 30%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.time, .clueDiv {
  display: flex;
  justify-content: center;
}

.time {
  font-size: 75px;
  margin: 30px;
  margin-bottom: 0px;
  color: white;
}

.date {
  color: white;
  margin-top: 0px;
}

.clueDiv {
  background-color: white;
  opacity: 0.75;
  border-radius: 20px;
  height: 300px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.clueText {
  font-size: 25px;
}

.icons {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 90%;
  height: 70px;
  margin-top: 125px;
  margin-bottom: 20px;
  align-items: center;
  background-color: white;
  opacity: 0.75;
}

.material-icons {
  width: 10%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(206, 35, 35);
}
