
  body {
    margin:0;
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/269063/pexels-photo-269063.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
  }

/* .locationLanding {
  background-image: url(../../assets/paris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* Below delays the clue pop-up for 2seconds  */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.cluePopUp {
  border-radius: 10px;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5;
    -moz-animation-duration:0.5;
    animation-duration:0.5;
    animation-delay: 2s;
    background-color: rgba(247, 241, 233, 0.801);
    width: 80vw;
    height: 15vh;
}
.messageIcon {
  color: green;
}
.clueTop {
  display: flex;
  justify-content: space-between;

}

form{
  background-color: rgba(247, 241, 233, 0.719);
}

.clueOneScreen {
  background-image: url(https://www.iclarified.com/images/news/60886/292380/292380-1280.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  border-radius: 20px;
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.time, .clueDiv {
  display: flex;
  justify-content: center;
}

.time {
  font-size: 75px;
  margin: 30px;
  margin-bottom: 0px;
  color: white;
}

.date {
  color: white;
  margin-top: 0px;
}

.clueDiv {
  background-color: white;
  opacity: 0.75;
  border-radius: 20px;
  height: 300px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.clueText {
  font-size: 25px;
}

.icons {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 90%;
  height: 70px;
  margin-top: 125px;
  margin-bottom: 20px;
  align-items: center;
  background-color: white;
  opacity: 0.75;
}

.material-icons {
  width: 10%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(206, 35, 35);
}