
body {
  margin:0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Below delays the clue pop-up for 2seconds  */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.cluePopUp {
    border-radius: 10px;
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5;
    -moz-animation-duration: 0.5;
    animation-duration: 0.5;
    animation-delay: 2s;
    background-color: rgba(247, 241, 233, 0.801);
    width: 300px;
    height: 500px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.clueOneScreen {
    width: 50%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.time,
.clueDiv {
    display: flex;
    justify-content: center;
}

.time {
    font-size: 75px;
    margin: 30px;
    margin-bottom: 0px;
    color: pink;
}

.date {
    color: pink;
    margin-top: 0px;
}

.clueDiv {
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    height: 600px;
    width: 400px;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.buttons {
display: flex !important;
flex-direction: row;
justify-content: space-evenly;
width: 100%;
}

button {
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}


.clock,
.date {
    color: pink;
    text-align: center;
    transform: translate(30);
}

.clueText {

font-size: 25px;
}

.icons {
display: flex;
justify-content: space-around;
border-radius: 10px;
width: 90%;
height: 70px;
margin-top: 125px;
margin-bottom: 20px;
align-items: center;
background-color: white;
opacity: 0.75;
}

.date {
    font-size: 45px;
}

@media only screen and (min-width: 1024px) {
    .clueOneScreen {
        width: 100%;
        height: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    /* desktop styling------------------------------------ */
    .clock {
        color: pink;
        text-align: center;
        font-size: 50px;
        transform: translateY(30) !important;
    }
    .date {
        font-size: 15px;
        text-align: center;
    }
    section {
        width: 100%;
        height: 100%;
    }
    .background-image {
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clueDiv, .flyOut {
        background-color: white;
        opacity: 0.8;
        border-radius: 20px;
        height: 600px;
        width: 800px;
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        margin-right: 450px;
        margin-top: 200px;
    }

.material-icons {
width: 10%;
height: 75%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}
.wrong {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 65vw;
  background-color:black;
  color: white;

}