.contact {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.clueText {
  margin-left: 10px;
}

header {
  display: none;
}

footer {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
p {
  display: flex;
  flex-direction: column;
  text-align: center;
} */

  @keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInRight {
    animation-name: bounceInRight;
  }
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }



.cluePopUp {
  animation-delay: 1.5s;
  background-color: lightgrey;
  /* opacity: 0.9; */
  border-radius: 5px;
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* margin-top: 6px;
  margin-right: 12px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clueOneScreen {
  width: 100vw;
  height: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.clueDiv, .flyOut {
  background-color: lightgrey;
  /* opacity: 0.8; */
  border-radius: 5px;
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flyOut {
  background-color: lightgrey;
  border-radius: 5px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.flyButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 10%;
  width: 40%;
}

.city {
  font-size: 20px;
  margin-bottom: 0px;
}

.text {
  text-align: center;
}

button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Roboto", sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.finger,
.plane {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.flag {
  width: 100%;
}

.droppedPic {
  width: 50%;
}

.thetime {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  /* bottom: 50%; */
}

.wrong {
  background-color: lightgrey;
  border-radius: 5px;
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.clock,
.date {
  color: white;
  margin: 0;
  text-align: center;
}
.clock {
  font-size: 60px;
}

.date {
  font-size: 25px;
}

.background-image {
  height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-repeat: no-repeat;
  background-size: contain; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 90%;
  height: 70px;
  margin-top: 125px;
  margin-bottom: 20px;
  align-items: center;
  background-color: white;
  opacity: 0.75;
}

.background-image {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flagClue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 1024px) {
  .cluePopUp {
    /* height: 70px;
    width:400px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 6px;
    margin-right: 12px;
  }

  .clueIcon {
    background-color: orange;
    border-radius: 50%;
  }

  .thetime {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 0%;
    right: 8%;
  }
  .thetimeFly {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 0%;
    right: 0%;
  }

  .clock,
  .date {
    color: black;
    margin: 0;
    text-align: center;
    margin-right: 10px;
  }

  .clock {
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
  }

  .date {
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
  }

  .clueOneScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 50px;
  }

  .flag {
    width: 200%;
  }

  /* desktop styling------------------------------------ */

  section {
    width: 100%;
    height: 100%;
  }
  .background-image {
    height: 100vh;
    width: 100vw;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-repeat: no-repeat;
        background-size: contain; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* 
  .clueDiv,
  .flyOut {
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    height: 600px;
    width: 800px;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-top: 200px;
  } */

  .clueDiv {
    background-color: lightgrey;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
 
  .clueDiv img {
    height: 200px;
  }
 
  .flyOut {
    background-color: lightgrey;
    border-radius: 5px;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    /* margin-top: 200px; */
  }

  .city {
    font-size: 30px;
    margin-bottom: 0px;
  }

  /* desktop styling------------------------------------ */

  

  /* .clueDiv,
  .flyOut {
    background-color: white;
    border-radius: 5px;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-top: 200px;
  } */

  .material-icons {
    width: 10%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .wrong {

    background-color: lightgrey;
    border-radius: 5px;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Slab", serif;

    height: 110vh;
    width: 100vw;
    background:url(https://i2.wp.com/www.kalusalonandspa.com/wp-content/uploads/2017/01/black-brick-background-kalu-salon-black-friday-sales-web.jpg);
    color: white;

  }

  body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    perspective-origin: 0 0;
  }

  /*--Header--*/
  header {
    background: linear-gradient(
      to bottom,
      rgba(230, 230, 230, 1) 0%,
      rgba(163, 163, 163, 1) 100%
    );
    display: block;
    font-size: 1em;
    height: 3%;
    position: fixed;
    top: 0%;
    width: 100%;
  }
  header ul {
    margin: 0 5px;
    padding: 0 3px;
  }
  header li {
    display: inline-block;
    line-height: 1.3em;
    padding: 0 0.5em;
    position: relative;
    /* cursor: default; */
  }
  header .left {
    float: left;
  }
  header .right {
    float: right;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  /*--Desktop--*/
  #Desktop {
    display: flex;
    align-content: right;
    flex-direction: column;
    align-items: flex-end;
    height: 85vh;
    padding: 25px;
    position: absolute;
    text-align: right;
    z-index: -1;
    width: 100%;
  }

  /*--Dock--*/
  footer {
    bottom: 0;
    display: inline-block;
    height: 4.4em;
    left: 50%;
    min-width: 30em;
    padding: 0 10px;
    perspective: 1000px;
    position: absolute;
    text-align: center;
    transform: translatex(-50%);
  }
  footer:before {
    background: linear-gradient(
      to top,
      rgba(230, 230, 230, 1) 0%,
      rgba(163, 163, 163, 1) 100%
    );
    bottom: 0;
    content: "";
    height: 4em;
    left: 0;
    margin-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotatex(45deg);
    width: 100%;
    z-index: -1;
  }

  footer ul {
    display: inline-block;
    margin: 0 0.1em;
    padding: 0;
    transform-origin: bottom cente;
  }

  /*-------TRANSITION------*/
  footer li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    transform: scale(1);
    transform-origin: bottom center;
    transition: transform 2s;
  }

  footer li:before {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: #fff;
    content: attr(data-title);
    display: block;
    float: left;
    font-size: 0.9em;
    left: 50%;
    margin: 2px auto;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: -35px;
    transform: translatex(-50%);
    transform-origin: bottom cente;
    visibility: hidden;
    width: auto;
  }
  footer li:hover:before {
    opacity: 1;
    top: -45px;
    visibility: visible;
  }

  footer img {
    -webkit-box-reflect: below -5px -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0%, rgba(230, 230, 230, 0.2)),
        color-stop(100%, rgba(255, 255, 255, 0))
      );
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    position: relative;
    transform: scale(1);
    transform-origin: bottom cente;
    transition: all 0.2s;
    width: 3em;
  }

  footer img {
    -webkit-box-reflect: below -5px -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0%, rgba(230, 230, 230, 0.2)),
        color-stop(100%, rgba(255, 255, 255, 0))
      );
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    position: relative;
    transform: scale(1);
    transform-origin: bottom center !important;
    transition: all 0.2s;
    width: 3em;
  }

  footer img:hover {
    margin: 0 10px;
    transform: scale(1.5);
  }
  footer img .clueIcon:hover {
    margin: 0 10px;
    transform: scale(1.5);
  }

  footer img:hover {
    margin: 0 10px;
    transform: scale(1.2);
  }

  @-webkit-keyframes JUMP {
    0% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
      padding-bottom: 20px;
    }
    100% {
      bottom: 0;
    }
  }
}
