<body>
<section>
    <div class="device device-macbook-pro ">
      <div class="device-frame">
        <div class="device-content">
              <div class="email">
              <p>ACME HEADQUARTERS</p>
              <p>Agent {{userName}} we have just been informed that Carmen Sandiego has stolen the Eiffel Tower! You need to catch her</p>
              <button routerLink="/location1" routerLinkActive="active">View Message</button>
            </div>
        </div>
      </div>
      <div class="device-stripe"></div>
      <div class="device-header"></div>
      <div class="device-sensors"></div>
      <div class="device-btns"></div>
      <div class="device-power"></div>
    </div>
</section>
</body>
  